/* -----------------------
My changes 
------------------------*/
.backToTop {
	text-align:center; 
	color:blue;
}

#col1 {
	float:left;
	width: 33%;
	font: 12px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;

}

.title {
	text-align: center; 
	background-color: gray;
	padding: 20px 20px;
	margin: 0px 0px 20px 0px;
}

li {
	padding: 5px;
}


/* -----------------------
Base styles
------------------------*/



body {
	margin: 0;
	padding: 0;
	color: black;
	background-image: linear-gradient(#D9BDAD , #D94625);
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 0; /*0 0 .5em;*/
	font-weight: 500;
	line-height: 1.1;
}

h1 { font-size: 2.25em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p {
	margin: 0 0 1.5em;
	line-height: 1.5;
} 

blockquote {
	padding: 1em 2em;
	margin: 0 0 2em;
	border-left: 5px solid #eee;
}

hr {
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}

table {
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
}

th, td {
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

a:link { color: royalblue; }
a:visited { color: purple; }
a:focus { color: black; }
a:hover { color: green; }
a:active { color: red; }

/* -----------------------
Layout styles
------------------------*/

.container {
	max-width: 50em;
	margin: 0 auto;
	background-color: #fff;
}

.header {
	color: #fff;
	background: #262626;
	padding: 1em 1.25em;
}

.header-heading { margin: 0; 

}

.nav-bar {
	background: #D9653B;
	padding: 0;
	border-radius: 25px;
	margin: 10px 0px;
}

.content { padding: 1em 1.25em; 
	background-color:white;
}

.footer {
	color: #fff;
	background: #000;
	padding: 1em 1.25em;
}

/* -----------------------
Nav
------------------------*/


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #D9653B;
  font-family: Arial;
  text-align: center;
  border-radius: 5px;
  margin: 20px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 0;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  text-align: center;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #BF9C8F;
  border-radius: 25px;
  margin: 4px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}






/* -----------------------
Single styles
------------------------*/

.img-responsive { 
	max-width: 50%;
	
	/* -----------------------
	Me fade in
	------------------------*/
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	animation: fadeIn 5s;
	-webkit-animation: fadeIn 5s;
	-moz-animation: fadeIn 5s;
	-o-animation: fadeIn 5s;
	-ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


/* -----------------------
Fourm
------------------------*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.divFourm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* -----------------------
Table
------------------------*/

tr:nth-child(even) {background-color: #f2f2f2}
th {
  background-color: #04AA6D;
  color: white;
}


.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

th {
	text-align: center;
	width: 50%;
	border: left;
}

td {
	text-align: center;
}










.btn {
	color: #fff !important;
	background-color: #D9653B;
	border-color: #222;
	display: inline-block;
	padding: .5em 1em;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 25px;
	text-decoration: none;
}

.btn:hover {
	color: #fff !important;
	background-color: #BF9C8F;
}

.btn:focus {
	color: #fff !important;
	background-color: #BF9C8F;
}

.btn:active {
	color: #fff !important;
	background-color: red;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

/* -----------------------
Back to top button
------------------------*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 42em) {
	.header { padding: 1.5em 3em; }
	.nav-bar { padding: 1em 3em; }
	.content { padding: 2em 3em; }
	.footer { padding: 2em 3em; }
	
	.nav li {
		display: inline;
		margin: 0 1em 0 0;
	}
	
	.nav a {
		display: inline;
		padding: 0;
		border-bottom: 0;
	}
}
